<html>

<head>
    <title>Form</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Form</h1>
    <form method="POST" action="/new">
        <label for="name">Name:</label>
        <br>
        <input type="text" id="name" name="name">

        <br>

        <label for="message">Message:</label>
        <br>
        <textarea id="message" name="message"></textarea>

        <br>
        <button type="submit">Back</button>
        <button type="submit" name="submit">Submit</button>
    </form>
</body>

</html>