<html>

<head>
    <title>Message</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Message</h1>
    <p><%= message.msg_user %></p>
    <p><%= message.msg_text %></p>
    <p><%= message.msg_added %></p>
    <form action="/">
        <input type="submit" value="Back" />
    </form>   
</body>

</html>